{% extends "base.html" %}

{% block content %}
<div class="login-clean-container">
    <div class="login-card">
        <h2>Login ke Akun Anda</h2>
        
        <form method="post">
            {% csrf_token %}
            
            {% if form.errors %}
                <p class="login-error-msg">Username atau password yang Anda masukkan salah.</p>
            {% endif %}

            <div class="form-group">
                {{ form.as_p }}
            </div>
            
            <button type="submit" class="btn-login-submit">Log In</button>
        </form>

        <div style="margin-top: 15px; text-align: center; font-size: 14px;">
            Belum punya akun? <a href="{% url 'signup' %}" style="color: #3498db; font-weight: bold; text-decoration: none;">Daftar Baru di Sini</a>
        </div>
        
    </div>
</div>
{% endblock content %}